@import "variables/global.css";
@import "reset.css";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--page-background-color);

    main {
        padding: var(--spacing-24) 0;
        flex: 1 1 auto;
    }
}

[class*=__container] {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--spacing-10);
}

[class*=__main-button] {
    position: relative;
    min-height: 32px;
    padding: 4px 16px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--coral-red);
    color: var(--white);
    cursor: pointer;
}

[class*=__icon-button] {
    position: relative;
    min-height: 32px;
    padding: var(--spacing-4);
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #3A3A3A;
    cursor: pointer;
}

[class*=__loader] {
    display: grid;
    justify-items: center;
}

[class*=__loader]:before {
    content: "";
    width: 36px;
    height: 36px;
    border: 4px solid var(--coral-red);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
